<div class="myContainer d-flex align-items-center justify-content-center">

  <img class="imgLogo" src="../../assets/logo.png" alt="20 anos decidindo destinos">

  <section>
    <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    name="contact"
    method="POST"
    onSubmit="submit"
    data-netlify="true"
    class="d-flex flex-column align-items-center" netlify>
      <mat-form-field class="fieldForm mb-3">
        <mat-label>Digite seu nome</mat-label>
        <input matInput type="text" [(ngModel)]="form.value.name" formControlName="name" name="name">
        <button *ngIf="form.value.name" matSuffix mat-icon-button aria-label="Clear" (click)="form.value.name=''">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
      <mat-form-field class="fieldForm mb-3">
        <mat-label>Digite seu E-mail</mat-label>
        <input matInput type="email" [(ngModel)]="form.value.email" formControlName="email" name="email">
        <button *ngIf="form.value.email" matSuffix mat-icon-button aria-label="Clear" (click)="form.value.email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="fieldForm">
        <mat-label>Digite seu telefone</mat-label>
        <input matInput type="tel" [(ngModel)]="form.value.tel" formControlName="tel" maxlength="11" name="tel">
        <button *ngIf="form.value.tel" matSuffix mat-icon-button aria-label="Clear" (click)="form.value.tel=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-stroked-button class="buttonDownload mt-3 mb-3" type="submit">
        <img src="../../assets/Download.svg" alt="download">
      </button>

      <span class="textconf mt-3">E-book “Olhe para o alto” Bispos Lucas e Priscila Rodovalho Cunha</span>
    </form>
  </section>
</div>
