.myContainer {
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  // width: 100%;
  height: 100vh;

  .imgLogo{
    position: absolute;
    top: 5%;
    left: 20%;
  }

  .fieldForm{
    width: 100%;
  }

  .buttonDownload{
    width: 70%;
    height: 60px;
    border: 2px solid white;
    border-bottom-left-radius: 113% 84%;
    border-bottom-right-radius: 90% 100%;
    border-top-left-radius: 113% 118%;
    border-top-right-radius: 90% 100%;
  }

  .textconf {
    font-family: 'VT323', monospace;

    font-size: 16px;
    line-height: 17px;


    color: #FFFFFF;
  }
}

::ng-deep{


  .mat-mdc-form-field .mdc-text-field{
    font-family: 'VT323', monospace !important;
    font-size: 25px;

    color: white !important;
    border: 2px solid white !important;
    border-radius: 8px !important;
    background-color: rgba(126, 126, 126, 0.2) !important;
    // background: rgba(126, 126, 126, 0.2);
    .mdc-floating-label, .mdc-text-field__input{
      font-family: 'VT323', monospace !important;
      font-size: 25px;
      color: white;
    }
  }

}
